/* Standard CSS for Broadway Design */

body {
  color: #000000;
  background-color: #FFFFFF;
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  text-align: center;
}

a {
  color: #FFFFFF;
  font-size: 18px;  
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

